%h1 My profile

- [:twitter, :facebook].each do |provider|
  = "#{provider.to_s.capitalize}:"
  = @providers.include?(provider.to_s) ? "Connected" : (link_to "Connect your #{provider.to_s.capitalize} account", user_omniauth_authorize_path(provider))
  %br
