.leftpart { behavior:url(js/PIE.htc); position:relative; }
.rightpart h1 { behavior:url(js/PIE.htc); position:relative; }
.paging { behavior:url(js/PIE.htc); position:relative; }
.detabox { behavior:url(js/PIE.htc); position:relative; }
.finput input { behavior:url(js/PIE.htc); position:relative; }
.zipbox input { behavior:url(js/PIE.htc); position:relative; }
.slidebg { behavior:url(js/PIE.htc); position:relative; }
.fill-slidebg { behavior:url(js/PIE.htc); position:relative; }
.dd2 .ddTitle { behavior:url(js/PIE.htc); position:relative; }
.leftbt { behavior:url(js/PIE.htc); position:relative; }
.rightinput input { behavior:url(js/PIE.htc); position:relative; }
.welcomePart h2.title { behavior:url(js/PIE.htc); position:relative; }
.welcomePart .listRow input[type="text"] { behavior:url(js/PIE.htc); position:relative; }
.darkBox { behavior:url(js/PIE.htc); position:relative; }
.btnBlue  { behavior:url(js/PIE.htc); position:relative; }
.btnOrange  { behavior:url(js/PIE.htc); position:relative; }
.btnSlate  { behavior:url(js/PIE.htc); position:relative; }
.darkBoxBottom { behavior:url(js/PIE.htc); position:relative; }
.btnOrg { behavior:url(js/PIE.htc); position:relative; }
.rightdarkbox { behavior:url(js/PIE.htc); position:relative; }
.dark-bottom { behavior:url(js/PIE.htc); position:relative; }

